<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <!-- Link CSS -->
        <link rel="stylesheet" href="/static/CSS/RF002-log.css">
        <!-- Link JavaScript -->
        <script src="/static/JS/RF002-log.js"></script>

    </head>
    <body>
        <head>
            
        </head>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>