<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <!-- Link CSS -->
        <link rel="stylesheet" href="/static/CSS/RF002-log.css">
        <!-- Link JavaScript -->
        <script src="/static/JS/RF002-log.js"></script>

    </head>
    <body>
       
        <head>
            <section class="header-section">
                <img src="https://images.unsplash.com/photo-1676311396794-f14881e9daaa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fGhhbW1lcnxlbnwwfHwwfHx8MA%3D%3D" alt="Ferramentas de trabalho">
            </section>
        </head>
        <main>
            <!-- Formulario para o envio dos dados do Login -->
            <form class="login-form" action="POST">
                <h1>Login</h1>
                <label for="label-email">E-mail</label>
                <input type="email" id="login-form_email" name="login-form_email">
                <label for="label-senha">Senha</label>
                <input type="password" id="login-form_senha" name="login-form_senha">
                <button class="login-form_btn">Concluir Login</button>
            </form>
        </main>
        <footer>
            <section class="footer-section">
                <img src="/static/IMG/TASK request.svg" alt="Logo Easy Request">
            </section>
        </footer>
    </body>
</html>